
body{
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}


h1{
    color: #333;
}


#lista{
    margin-bottom: 20px;
}


button{
    padding: 10px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}


button:hover{
    background-color: darkblue;
}


#total{
    background-color: white;
    padding: 10px;
    width: 200px;
}